
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


                                                        <!--        Login         -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/Content/img/login.jpg" alt="" />
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                        <a class="primary-btn" href="registration.html">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>

                    <!-- login -->
                    <div class="login-contect py-5">
                           
                                @using (Html.BeginForm("index", "Login", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <form action="#" method="post">
                                        <div class="form-group">
                                            <label>Your Name</label>
                                            @Html.TextBox("Acc","", new { @class = "form-control", @placeholder = "User"})
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-2">Password</label>                                          
                                            @Html.Password("Pass","" , new {@class = "form-control" ,@placeholder ="Password"})
                                        </div>
                                        <button type="submit" class="btn submit mb-4">Login</button>
                                        <p class="forgot-w3ls text-center mb-3">
                                            <a href="#" class="text-da">Forgot your password?</a>
                                        </p>
                                        <p class="account-w3ls text-center text-da">
                                            Don't have an account?
                                            <a href="register.html">Create one now</a>
                                        </p>
                                    </form>

                                }

                    </div>
                    <!-- //login -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


@section Background {
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Login/Register</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Login/Register</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
}